<div class="mo-auth-wrapper">
    <div class="mo-auth-wrapper-inner">

        <h2 class="block-h2">Welcome</h2>
        <p>Login into your account.</p>
        <div class="divider"></div>

        <form>
            <div class="mb-3">
                <label for="" class="form-label">Email Address</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address"
                    aria-describedby="helpId">
                <!-- <small id="helpId" class="form-text">Help text</small> -->
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" name="" id="" class="form-control" placeholder="Password"
                    aria-describedby="helpId">
                <!-- <small id="helpId" class="text-muted">Help text</small> -->
            </div>
            <button class="btn btn-primary cus-btn">Login</button>
            <a href="http://" class="forgetPassword mt-2"><strong>Forget Password</strong></a>
        </form>
        <!-- <div></div> -->
        <p class="text-center">Don't have an account? <strong><a href="<?= $base_url ?>register.php">Register
                    Now</a></strong></p>
    </div>

</div>