.mgl-1 {
  margin-left: 1rem;
}

.mgr-1 {
  margin-right: 1rem;
}

.mgt-1 {
  margin-top: 1rem;
}

.mgb-1 {
  margin-bottom: 1rem;
}

.mgx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mgy-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mgl-2 {
  margin-left: 2rem;
}

.mgr-2 {
  margin-right: 2rem;
}

.mgt-2 {
  margin-top: 2rem;
}

.mgb-2 {
  margin-bottom: 2rem;
}

.mgx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mgy-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mgl-3 {
  margin-left: 3rem;
}

.mgr-3 {
  margin-right: 3rem;
}

.mgt-3 {
  margin-top: 3rem;
}

.mgb-3 {
  margin-bottom: 3rem;
}

.mgx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mgy-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mgl-4 {
  margin-left: 4rem;
}

.mgr-4 {
  margin-right: 4rem;
}

.mgt-4 {
  margin-top: 4rem;
}

.mgb-4 {
  margin-bottom: 4rem;
}

.mgx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mgy-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mgl-5 {
  margin-left: 5rem;
}

.mgr-5 {
  margin-right: 5rem;
}

.mgt-5 {
  margin-top: 5rem;
}

.mgb-5 {
  margin-bottom: 5rem;
}

.mgx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mgy-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mgl-6 {
  margin-left: 6rem;
}

.mgr-6 {
  margin-right: 6rem;
}

.mgt-6 {
  margin-top: 6rem;
}

.mgb-6 {
  margin-bottom: 6rem;
}

.mgx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mgy-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mgl-7 {
  margin-left: 7rem;
}

.mgr-7 {
  margin-right: 7rem;
}

.mgt-7 {
  margin-top: 7rem;
}

.mgb-7 {
  margin-bottom: 7rem;
}

.mgx-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.mgy-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.mgl-8 {
  margin-left: 8rem;
}

.mgr-8 {
  margin-right: 8rem;
}

.mgt-8 {
  margin-top: 8rem;
}

.mgb-8 {
  margin-bottom: 8rem;
}

.mgx-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.mgy-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mgl-9 {
  margin-left: 9rem;
}

.mgr-9 {
  margin-right: 9rem;
}

.mgt-9 {
  margin-top: 9rem;
}

.mgb-9 {
  margin-bottom: 9rem;
}

.mgx-9 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.mgy-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

/**************************
 * CARD BORDER
***************************/
.card {
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-color: #cdd4e0;
  -webkit-box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
          box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
}

.btn {
  padding: 0.5rem 0.75rem;
}

.btn.btn-primary {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #0257d5;
  background-color: #0257d5;
}

.btn.btn-secondary {
  background-color: #09090a;
  color: #fff;
  border: 1px solid #09090a;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active, .btn.btn-secondary:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid black;
  background-color: black;
}

.btn.btn-danger {
  background-color: #d80000;
  color: #fff;
  border: 1px solid #d80000;
}

.btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #a50000;
  background-color: #a50000;
}

.btn.btn-success {
  background-color: #028900;
  color: #fff;
  border: 1px solid #028900;
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #015600;
  background-color: #015600;
}

.btn.btn-info {
  background-color: #00d8ff;
  color: #000;
  border: 1px solid #00d8ff;
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #00adcc;
  background-color: #00adcc;
}

.btn.btn-warning {
  background-color: #ffae00;
  color: #000;
  border: 1px solid #ffae00;
}

.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #cc8b00;
  background-color: #cc8b00;
}

.btn.btn-light {
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid #f8f9fa;
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light:active, .btn.btn-light:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #dae0e5;
  background-color: #dae0e5;
}

.btn.btn-dark {
  background-color: #212529;
  color: #fff;
  border: 1px solid #212529;
}

.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active, .btn.btn-dark:active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #0a0c0d;
  background-color: #0a0c0d;
}

.btn.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem;
}

.pagination .page-item .page-link {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus, .pagination .page-item .page-link:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.pagination .page-item.active .page-link {
  background: #025bdf;
  color: #fff;
  border-color: #025bdf;
}

.pagination .page-item.disabled .page-link {
  color: #cccccc;
}

.text-primary {
  color: #0d6efd !important;
}

.text-primary:hover, .text-primary:focus, .text-primary:active, .text-primary:active:focus {
  color: #0257d5 !important;
}

.text-secondary {
  color: #09090a !important;
}

.text-secondary:hover, .text-secondary:focus, .text-secondary:active, .text-secondary:active:focus {
  color: black !important;
}

.text-danger {
  color: #d80000 !important;
}

.text-danger:hover, .text-danger:focus, .text-danger:active, .text-danger:active:focus {
  color: #a50000 !important;
}

.text-success {
  color: #028900 !important;
}

.text-success:hover, .text-success:focus, .text-success:active, .text-success:active:focus {
  color: #015600 !important;
}

.text-info {
  color: #00d8ff !important;
}

.text-info:hover, .text-info:focus, .text-info:active, .text-info:active:focus {
  color: #00adcc !important;
}

.text-warning {
  color: #ffae00 !important;
}

.text-warning:hover, .text-warning:focus, .text-warning:active, .text-warning:active:focus {
  color: #cc8b00 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-light:hover, .text-light:focus, .text-light:active, .text-light:active:focus {
  color: #dae0e5 !important;
}

.text-dark {
  color: #212529 !important;
}

.text-dark:hover, .text-dark:focus, .text-dark:active, .text-dark:active:focus {
  color: #0a0c0d !important;
}

form label {
  font-weight: 500;
}

.alert.alert-primary {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}

.alert.alert-secondary {
  background-color: #09090a;
  color: #fff;
  border: 1px solid #09090a;
}

.alert.alert-danger {
  background-color: #d80000;
  color: #fff;
  border: 1px solid #d80000;
}

.alert.alert-success {
  background-color: #028900;
  color: #fff;
  border: 1px solid #028900;
}

.alert.alert-info {
  background-color: #00d8ff;
  color: #000;
  border: 1px solid #00d8ff;
}

.alert.alert-warning {
  background-color: #ffae00;
  color: #000;
  border: 1px solid #ffae00;
}

.alert.alert-light {
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid #f8f9fa;
}

.alert.alert-dark {
  background-color: #212529;
  color: #fff;
  border: 1px solid #212529;
}

.table thead tr th {
  padding: 0.8rem 0.5rem !important;
  background: #e9ecef;
  border: 1px solid #ced4da !important;
  border-bottom: 3px solid #ced4da !important;
}

.table tbody tr td {
  border: 1px solid #ced4da !important;
}

.mo-tab {
  border-bottom: 2px solid #adb5bd;
}

.mo-tab .nav-item .nav-link {
  position: relative;
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: #adb5bd;
}

.mo-tab .nav-item .nav-link.active {
  color: #0d6efd;
}

.mo-tab .nav-item .nav-link.active:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #0d6efd;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.mo-tab-content {
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-color: #cdd4e0;
  -webkit-box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
          box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
}

.mo-tab-content .wd-tab-content-header {
  background: #fff;
  padding: 1rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 2px solid #adb5bd;
}

.mo-tab-content .wd-tab-content-header h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.mo-tab-content .wd-tab-content-body {
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #000;
  font-family: "Roboto", sans-serif;
  background: #eeeff4;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*****************************************************************************************************************************
DASHBOARD CARD
*****************************************************************************************************************************/
.mo-dashboard-card .card {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.mo-dashboard-card .card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.mo-dashboard-card .card .mo-dashboard-card-icon {
  position: absolute;
  right: 1.8rem;
  top: 0.6rem;
}

/*****************************************************************************************************************************
AUTH WRAPPER
*****************************************************************************************************************************/
.mo-auth-wrapper {
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0d6efd;
}

.mo-auth-wrapper .mo-auth-wrapper-inner {
  position: relative;
  width: 340px;
  background: #fff;
  overflow: hidden;
  padding: 1.2rem 1.5rem;
  -webkit-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.6) !important;
          box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.6) !important;
}

.mo-auth-wrapper .mo-auth-wrapper-inner h2 {
  font-size: 1.6rem;
}

.mo-auth-wrapper .mo-auth-wrapper-inner p {
  margin-bottom: 0;
}

.mo-auth-wrapper .mo-auth-wrapper-inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mo-auth-wrapper .mo-auth-wrapper-inner form .form-control {
  height: 42px;
  padding: 0.6rem 0.8rem;
}

.mo-auth-wrapper .mo-auth-wrapper-inner form .forgetPassword {
  margin-bottom: 1rem;
}

.mo-auth-wrapper .mo-auth-wrapper-inner::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -1%;
  right: 16%;
  background: rgba(13, 110, 253, 0.8);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: translate(10px, 10px);
  -webkit-transform: translate(10px, 10px);
  -moz-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  -o-transform: translate(10px, 10px);
}

.mo-auth-wrapper .mo-auth-wrapper-inner::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 2%;
  right: -2%;
  background: rgba(13, 110, 253, 0.5);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: translate(10px, 10px);
  -webkit-transform: translate(10px, 10px);
  -moz-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  -o-transform: translate(10px, 10px);
}

.block-h2 {
  position: relative;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.divider {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #0d6efd;
}

.divider:after {
  content: "";
  width: 15%;
  height: 6px;
  background: #0d6efd;
  position: absolute;
  position: absolute;
  bottom: -3px;
  left: 0;
}

/*****************************************************************************************************************************
WRAPPER
*****************************************************************************************************************************/
.mo-wrapper {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100vw - 86%) auto;
      grid-template-columns: calc(100vw - 86%) auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.mo-wrapper .mo-wrapper-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 55px auto;
      grid-template-rows: 55px auto;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.mo-wrapper .mo-wrapper-right .mo-wrapper-content {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  overflow-y: auto;
  padding-bottom: 3rem;
  height: calc(100vh - 55px);
}

.mo-wrapper .mo-wrapper-right .mo-wrapper-content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.mo-wrapper .mo-wrapper-right .mo-wrapper-content::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.mo-wrapper .mo-wrapper-right .mo-wrapper-content::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
  border: none;
}

.mo-wrapper-sidebar {
  background: #0d6efd;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 55px 80px auto;
      grid-template-rows: 55px 80px auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 1rem;
  padding-right: 1rem;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-profile .wrapper-sidebar-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 4px solid white;
  overflow: hidden;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-profile .wrapper-sidebar-profile-img img {
  width: 100%;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-profile .wrapper-sidebar-profile-name {
  margin-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-profile .wrapper-sidebar-profile-name p {
  margin: 0;
  color: inherit;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu {
  padding: 1.2rem;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li > a {
  color: #a5c9fe;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li > a i {
  font-size: 24px;
  line-height: 0.9;
  margin-right: 0.8rem;
  width: 24px;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li > a:hover, .mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li > a:focus, .mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li > a.active {
  color: white;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li.has-menu > a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li.has-menu > a .sidebar-toggle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li.has-menu > a .sidebar-toggle-icon i {
  margin-right: 0;
}

.mo-wrapper-sidebar .mo-wrapper-sidebar-menu .sidebar li.has-menu.in > a {
  color: white;
}

/******************************** SIDEBAR LEVEL **************************************************/
.sidebar-level1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12px;
  border-left: 2px solid #408cfd;
}

.sidebar-level1 > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #72abfe;
  text-decoration: none;
  padding-left: 1.2rem;
}

.sidebar-level1 > a:hover, .sidebar-level1 > a:focus {
  color: #a5c9fe;
}

/*****************************************************************************************************************************
DROPDOWN
*****************************************************************************************************************************/
.dropdown {
  position: relative;
}

.dropdown .dropdown-toggle {
  position: relative;
}

.dropdown .dropdown-toggle:before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 14px;
  border: 1px solid transparent;
  border-top-color: #cdd4e0;
  border-left-color: #cdd4e0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  z-index: 901;
  display: none;
}

.dropdown .dropdown-menu {
  min-width: 12rem;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  margin-top: 0px;
  padding: 1.2rem;
  top: 10px !important;
  z-index: 900;
}

.dropdown .dropdown-menu .dropdown-item {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-size: 1rem;
  color: #6c757d;
}

.dropdown .dropdown-menu .dropdown-item i {
  font-size: 24px;
  margin-right: 10px;
  width: 24px;
  text-align: center;
  line-height: 0.9;
}

.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:focus {
  color: #0d6efd;
  background: none;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}

.dropdown .dropdown-toggle.show:before {
  display: block;
}

/*****************************************************************************************************************************
NAVBAR
*****************************************************************************************************************************/
.mo-wrapper-navbar {
  -webkit-box-shadow: 0 2px 3px rgba(28, 39, 60, 0.05);
          box-shadow: 0 2px 3px rgba(28, 39, 60, 0.05);
  border-bottom: 1px solid rgba(28, 39, 60, 0.12);
  background-color: #fcfcfc;
  border-color: #cdd4e0;
}

.mo-wrapper-navbar .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mo-wrapper-navbar .header-inner .admin-logo {
  padding-left: 0.5rem;
  cursor: pointer;
}

.mo-wrapper-navbar .header-inner .admin-logo h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 900;
}

.mo-wrapper-navbar .header-inner .admin-logo i {
  font-size: 1.5rem;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.mo-wrapper-navbar .header-inner .admin-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown button {
  outline: none;
  border: none;
  height: 52px;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown button:after {
  display: none;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown button:focus, .mo-wrapper-navbar .header-inner .admin-control .dropdown button:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown.notification i {
  font-size: 1.5rem;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown.admin-auth button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown.admin-auth button .admin-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown.admin-auth button .admin-img img {
  width: 100%;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown.admin-auth button .admin-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.5rem;
  height: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown.admin-auth button .admin-name h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.mo-wrapper-navbar .header-inner .admin-control .dropdown.admin-auth button .admin-name p {
  font-size: 0.8rem;
  margin: 0;
}

/*****************************************************************************************************************************
CONTENT PAGE
*****************************************************************************************************************************/
.mo-content-page {
  width: 100%;
}

.mo-content-page .mo-content-page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.mo-content-page .mo-content-page-title .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mo-content-page .mo-content-page-title .page-title h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.mo-content-page .mo-content-page-title .page-title .breadcrumb {
  padding: 0;
  background: none;
  margin-bottom: 0;
}

.mo-content-page .mo-content-page-title .page-title .breadcrumb li {
  font-size: 0.8rem;
}

.mo-content-page .mo-content-page-inner {
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-color: #cdd4e0;
  -webkit-box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
          box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
}

.mo-content-page .mo-content-page-inner .content-page-header {
  background: #fff;
  padding: 1rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 2px solid #adb5bd;
}

.mo-content-page .mo-content-page-inner .content-page-header h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.mo-content-page .mo-content-page-inner .content-page-body {
  padding: 1rem;
}

/*****************************************************************************************************************************
PROFILE PAGE
*****************************************************************************************************************************/
.profile-page {
  width: 100%;
}

.profile-page .profile-cover {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.profile-page .profile-cover .profile-cover-img {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-page .profile-cover .profile-cover-img img {
  width: 100%;
  height: auto;
}

.profile-page .profile-cover .profile-cover-footer {
  position: relative;
  width: 100%;
  margin-top: -2.5rem;
}

.profile-page .profile-cover .profile-cover-footer .profile-cover-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile-page .profile-cover .profile-cover-footer .profile-cover-user .profile-cover-user-img {
  width: 120px;
  height: 120px;
  border: 4px solid white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}

.profile-page .profile-cover .profile-cover-footer .profile-cover-user .profile-cover-user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-page .profile-cover .profile-cover-footer .profile-cover-user .profile-cover-member {
  padding-left: 1rem;
}

.profile-page .profile-cover .profile-cover-footer .profile-cover-user .profile-cover-member h3 {
  font-weight: 900;
}

.profile-page .profile-body {
  width: 100%;
  margin-top: 1.2rem;
}

/*****************************************************************************************************************************
RESPONSIVE
*****************************************************************************************************************************/
@media (max-width: 1400px) {
  .mo-wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .mo-wrapper .mo-wrapper-sidebar {
    position: fixed;
    left: -30%;
    height: 100%;
    width: 30%;
  }
  .mo-wrapper .mo-wrapper-right {
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-sidebar {
    position: fixed;
    left: 0%;
    height: 100%;
    width: 30%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-right {
    position: fixed;
    left: 30%;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .mo-wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .mo-wrapper .mo-wrapper-sidebar {
    position: fixed;
    left: -38%;
    height: 100%;
    width: 38%;
  }
  .mo-wrapper .mo-wrapper-right {
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-sidebar {
    position: fixed;
    left: 0%;
    height: 100%;
    width: 38%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-right {
    position: fixed;
    left: 38%;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .mo-wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .mo-wrapper .mo-wrapper-sidebar {
    position: fixed;
    left: -45%;
    height: 100%;
    width: 45%;
  }
  .mo-wrapper .mo-wrapper-right {
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-sidebar {
    position: fixed;
    left: 0%;
    height: 100%;
    width: 45%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-right {
    position: fixed;
    left: 45%;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mo-dashboard .mo-dashboard-card {
    margin-bottom: 1.5rem;
  }
  .mo-dashboard .mo-dashboard-card:last-child {
    margin-bottom: 0;
  }
  .mo-wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .mo-wrapper .mo-wrapper-sidebar {
    position: fixed;
    left: -70%;
    height: 100%;
    width: 70%;
  }
  .mo-wrapper .mo-wrapper-right {
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-sidebar {
    position: fixed;
    left: 0%;
    height: 100%;
    width: 70%;
  }
  .mo-wrapper.show-sidebar .mo-wrapper-right {
    position: fixed;
    left: 70%;
    top: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=modex.css.map */