<div class="mo-content-page">


    <!-- DASHBOARD START -->
    <section class="row my-4 mo-dashboard">
        <div class="col-lg-3 mo-dashboard-card">
            <div class="card">
                <div class="card-body position-relative">
                    <h5 class="card-title">Bookmarks</h5>
                    <h6 class="card-subtitle mb-2 text-muted">41,410</h6>
                    <div class="mo-dashboard-card-icon">
                        <i class="ri-bookmark-line ri-3x"></i>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="d-flex align-items-center">More info <i
                            class="ri-arrow-right-circle-fill ri-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mo-dashboard-card">
            <div class="card">
                <div class="card-body position-relative">
                    <h5 class="card-title">Likes</h5>
                    <h6 class="card-subtitle mb-2 text-muted">41,410</h6>
                    <div class="mo-dashboard-card-icon">
                        <i class="ri-thumb-up-line ri-3x"></i>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="d-flex align-items-center">More info <i
                            class="ri-arrow-right-circle-fill ri-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mo-dashboard-card">
            <div class="card">
                <div class="card-body position-relative">
                    <h5 class="card-title">Events</h5>
                    <h6 class="card-subtitle mb-2 text-muted">41,410</h6>
                    <div class="mo-dashboard-card-icon">
                        <i class="ri-calendar-line ri-3x"></i>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="d-flex align-items-center">More info <i
                            class="ri-arrow-right-circle-fill ri-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mo-dashboard-card">
            <div class="card">
                <div class="card-body position-relative">
                    <h5 class="card-title">Comments</h5>
                    <h6 class="card-subtitle mb-2 text-muted">41,410</h6>
                    <div class="mo-dashboard-card-icon">
                        <i class="ri-discuss-line ri-3x"></i>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="d-flex align-items-center">More info <i
                            class="ri-arrow-right-circle-fill ri-lg"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- DASHBOARD END -->

    <!-- PAGE INNER START -->
    <div class="mo-content-page-inner">

        <!-- PAGE HEADER START -->
        <div class="content-page-header">
            <h3>New Orders</h3>
            <!-- <div class="content-page-header-buttons">
                <a href="addition.php" class="btn btn-outline-primary">Add New Product</a>
            </div> -->
        </div>
        <!-- PAGE HEADER END -->

        <!-- PAGE BODY START -->
        <div class="content-page-body">

            <div class="table-responsive">
                <!-- TABLE START -->
                <table class="table wd-table">
                    <thead>
                        <tr>
                            <th>PRODUCT ID</th>
                            <th>RPODUCT NAME</th>
                            <th>PRODUCT CATEGORY</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>985654</td>
                            <td>SHIRT</td>
                            <td>CLOTHING</td>
                            <td>
                                <button class="btn btn-primary btn-icon btn-sm">
                                    <i class="ri-edit-box-line ri-lg"></i>
                                </button>
                                <button class="btn btn-danger btn-icon btn-sm">
                                    <i class="ri-delete-bin-5-line ri-lg"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>985654</td>
                            <td>SHIRT</td>
                            <td>CLOTHING</td>
                            <td>
                                <button class="btn btn-primary btn-icon btn-sm">
                                    <i class="ri-edit-box-line ri-lg"></i>
                                </button>
                                <button class="btn btn-danger btn-icon btn-sm">
                                    <i class="ri-delete-bin-5-line ri-lg"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- TABLE END -->
            </div>

            <!-- PAGINATION START -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <!-- PAGINATION END -->
        </div>
        <!-- PAGE BODY END -->
    </div>
    <!-- PAGE INNER END -->
</div>