<div class="mo-content-page">

    <!-- PAGE TITLE START -->
    <div class="mo-content-page-title">
        <div class="page-title">
            <h3>Customers</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Customers</li>
            </ol>
        </div>
    </div>
    <!-- PAGE TITLE END -->

    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>

    <!-- PAGE INNER START -->
    <div class="mo-content-page-inner">

        <!-- PAGE HEADER START -->
        <div class="content-page-header">
            <h3>Customers</h3>
            <div class="content-page-header-buttons">
                <a href="addition.php" class="btn btn-primary">Add New Customer</a>
            </div>
        </div>
        <!-- PAGE HEADER END -->

        <!-- PAGE BODY START -->
        <div class="content-page-body">

            <!-- TABLE START -->
            <table class="table">
                <thead>
                    <tr>
                        <th>PRODUCT ID</th>
                        <th>RPODUCT NAME</th>
                        <th>PRODUCT CATEGORY</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>985654</td>
                        <td>SHIRT</td>
                        <td>CLOTHING</td>
                        <td>
                            <button class="btn btn-primary btn-icon btn-sm">
                                <i class="ri-edit-box-line ri-lg"></i>
                            </button>
                            <button class="btn btn-danger btn-icon btn-sm">
                                <i class="ri-delete-bin-5-line ri-lg"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>985654</td>
                        <td>SHIRT</td>
                        <td>CLOTHING</td>
                        <td>
                            <button class="btn btn-primary btn-icon btn-sm">
                                <i class="ri-edit-box-line ri-lg"></i>
                            </button>
                            <button class="btn btn-danger btn-icon btn-sm">
                                <i class="ri-delete-bin-5-line ri-lg"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- TABLE END -->

            <!-- PAGINATION START -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <!-- PAGINATION END -->
        </div>
        <!-- PAGE BODY END -->
    </div>
    <!-- PAGE INNER END -->
</div>